@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="this.OnClick">Click Me</button>

<p>Picked file: @(this.files?.FirstOrDefault()?.FileName)</p>

@code {

    IEnumerable<FileResult>? files;

    async Task OnClick()
    {
        this.files = await FilePicker.PickMultipleAsync();

        // Just to be sure
        System.Diagnostics.Debugger.Break();
        this.StateHasChanged();
    }

}